@font-face {
  font-family: Lombok;
  src: url(assets/fonts/Lombok.otf)
}

@font-face {
  font-family: London;
  src: url(assets/fonts/London.ttf)
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  margin: 70px 100px 0px 100px;
}

.navBar {
  font-family: Lombok;
  display: flex;
  justify-content: space-between;
}

.right-nav {
  display: flex;
}

.right-nav > div {
  padding: 50px 20px 50px 20px;
}

/* FOOTER */
.footer {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 20px 0px 20px 0px;
  border-top: 1px solid #dadada;
}

.footer i {
  font-size: 50px;
  padding: 0px 50px 0px 50px;
  color: #dadada;
}

.fa-linkedin:hover {
  color: #1178B3;
}

.fa-github:hover {
  color: #25292E;
}

.title-text {
  font-size: 48px;
  font-family: Lombok;
  color: #000;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  /* border: 1px solid #000; */
  position: relative;
  bottom: 25px;
}

a {
  text-decoration: none;
}

.right-nav a {
  color: #000;
  opacity: 0.5;
}

.right-nav a:hover {
  opacity: 1;
}

#onComp {
  opacity: 1;
}

.component-container {
  padding-top: 50px;
  margin-bottom: 50px;
}

.projects {
  font-family: London;
  display: flex;
  justify-content: space-between;
}

.projects a {
  box-shadow: 0px 10px 38px -12px rgba(0,0,0,0.43);
  margin-bottom: 40px;
}

.date-project {
  background: url('./assets/images/DG.jpg');
}

.dive-project {
  background: url('./assets/images/DV.jpg');
}

.sky-project {
  background: url('./assets/images/SK.jpg');
}

.project {
  font-size: 9vw;
  color: #FFF;
  text-align: center;
  line-height: 28vw;
  width: 25vw;
  height: 25vw;
  min-width: 300px;
  max-width: 600px;
  min-height: 300px;
  max-height: 600px;
  background-size: cover;
}

.projects a:nth-child(1) {
  margin-right: 40px;
}

.projects a:nth-child(3) {
  margin-left: 40px;
}

.project:hover {
  opacity: 0.8;
}

.project-title {
  text-align: center;
  font-family: Lombok;
  background-color: #fbfbfb;
  padding: 20px;
  color: #1c1c1c;
}

.code-pic {
  width: 45vw;
}

.about-content {
  font-size: 20px;
  font-family: Helvetica Neue;
  font-weight: 100;
  display: inline-block;
}

.about-text {
  float: right;
  vertical-align: top;
  width: 40%;
  text-align: justify;
  text-justify: inter-word;
}

.about-about {
  text-align: right;
  font-family: Lombok;
}


/* ANIMATION */
svg {
	position: absolute;
	top: 75px;
}

svg line {
	stroke-width: 2;
	stroke: #000;
	fill: none;
  stroke-dasharray: 600;
  /* transition: 1s ease-in-out; */
  /* transition: all 1000ms cubic-bezier(0.935, 0.105, 0.120, 0.900); */
  transition: all 800ms cubic-bezier(0.620, 0.165, 0.370, 0.765);
}

.right-ani, .left-ani {
  stroke-dasharray: 100;
}


.title:hover svg .top-ani {
	transform: translateX(250px);
}

.title:hover svg .right-ani {
	transform: translateY(200px);
}

.title:hover svg .bot-ani {
	transform: translateX(-250px);
}

.title:hover svg .left-ani {
	transform: translateY(-200px);
}


/* RESUME ANIMATION */
.resume-button {
  color: #000;
  text-align: center;
  padding: 30px;
  margin-top: 60px;
  font-family: Lombok;
  border: 1px solid #000;
  transition: 0.1s ease-in-out;
}
.resume-button:hover {
  transition: 0.2s ease-in-out;
  background-color: #0C1628;
  color: #FFF;
}


@media only screen and (max-width: 1200px) {
  .projects {
    flex-wrap: wrap;
  }

  .project {
    width: 35vw;
    height: 35vw;
    line-height: 38vw;
    font-size: 14vw;
  }

  .projects a:nth-child(3) {
    margin-left: 0px;
  }

  .about-content {
    display: block;
    margin: auto;
  }

  .about-about {
    text-align: center;
  }

  .about-text {
    float: none;
    width: 60%;
    padding: 50px;
  }

  .code-pic {
    width: 80%;
  }

}

@media only screen and (max-width: 850px) {
  .projects {
    margin-top: 50px;
    display: block;
    width: 100%;
  }
  
  .projects a {
    width: 80%;
  }

  .projects a div {
    box-shadow: 0px 10px 38px -12px rgba(0,0,0,0.43);
  }

  .project {
    /* width: 80%;
    height: 100%; */
    margin: auto;
    line-height: 350px;
    font-size: 120px;
    min-width: 300px;
    min-height: 300px;
  }

  .project-title {
    padding: 30px 0px 30px 0px;
    width: 300px;
    margin: auto;
  }

  .projects a:not(:last-child) .project-title {
    margin-bottom: 50px;
  }

  .App {
    margin: 0;
  }

  .navBar {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5)
  }

  .title {
    text-align: center;
  }
  
  svg {
    display: none;
  }

  .projects a:nth-child(1) {
    margin-right: 0px;
  }
  
  .projects a:nth-child(3) {
    margin-left: 0px;
  }

  .about-text {
    width: 80%;
    padding: 0;
  }

  .code-pic {
    margin-top: 60px;
  }

  .footer i {
    font-size: 40px;
    padding: 0px 30px 0px 30px;
  }
}